<!-- Header -->
<header id="header">

  <!-- Logo -->
    <div class="logo">
      <a href="http://{{ site.url }}/" class="header-logo"><img src="/barnyard-organics/images/__next_static_image_public_assets_shared_logo-c5e2c9602a121d99b01919b3f1edfff9.svg" alt=""></a>
      <a href="http://{{ site.url }}/">Mary Holtz Art</a>
    </div>
  <!-- Nav -->
    <nav id="nav">
      <ul>
        {% for item in site.menus.main %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

</header>
